<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlqfBeYdHfJEv_uz0mg0E2SJZm0KkW7CY</string>
	<key>GCM_SENDER_ID</key>
	<string>579466048233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickbite</string>
	<key>PROJECT_ID</key>
	<string>quickbite-9f80a</string>
	<key>STORAGE_BUCKET</key>
	<string>quickbite-9f80a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579466048233:ios:c1171810ea73125b84b678</string>
</dict>
</plist>